.divider {
  background: rgba(213, 211, 211, 0.48);
  height: 2px;
  width: 100%;
}

.offers_wrapper {
  max-width: 1220px;
  margin: 150px auto 0;
}

.container {
  max-width: 1220px;
  margin: 0px auto 150px;
}

.btn_wrapper {
  display: flex;
  margin: 50px 0;
}

.filter_btn {
  font-size: 14px;
  text-transform: uppercase;
  color: #272727;
  border: 1px solid #A09A9A;
  border-radius: 40px;
  height: 31px;
  width: 122px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;

  &:hover {
    background: rgba(129, 129, 129, 0.09);
  }
}
