.works {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto auto;
  gap: 10px;
  width: 650px;
  height: 310px;
  margin-bottom: 40px;
}

.title {
  font-weight: 500;
  font-size: 22px;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.image {
  background: #C4C4C4;

  &:first-child {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
  }
}

.see_more {
  background: #DCDADA;
  border-radius: 5px;
  font-size: 18px;
  text-transform: uppercase;
  color: #818181;
  display: flex;
  justify-content: center;
  align-items: center;
}

