.title {
  font-weight: 500;
  font-size: 22px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.book {
  background: #C4C4C4;
  border-radius: 5px;
  width: 70px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  float: right;
  margin-top: 15px;

  &:hover {
    background: rgba(196, 196, 196, 0.08);
    border: 1px solid #C4C4C4;
  }
}
