.wrapper {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  grid-column-gap: 80px;
  grid-row-gap: 35px;
}

.category_wrapper {
  border: 1px solid rgba(129, 129, 129, 0.41);
  box-sizing: border-box;
  border-radius: 5px;
  height: 134px;
  position: relative;
  padding-left: 30px;
  padding-top: 25px;
  padding-right: 40px;
  cursor: pointer;

  &:nth-child(1) {
    background: rgba(241, 197, 174, 0.3);
  }

  &:nth-child(2) {
    background: rgba(252, 218, 188, 0.3);
  }

  &:nth-child(3) {
    background: rgba(206, 210, 194, 0.4);
  }

  &:nth-child(4) {
    background: rgba(146, 177, 182, 0.3);
  }

  &:nth-child(5) {
    background: rgba(232, 230, 217, 0.5);
  }

  &:nth-child(6) {
    background: rgba(191, 209, 223, 0.3);
  }

  &:hover {
    background: rgba(255, 255, 255, 0.09);
    border: 1px solid rgb(129, 129, 129);
  }
}

.arrow {
  position: absolute;
  top: 15px;
  right: 15px;
}

.name {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 10px;
}
