.offer_wrapper {
  margin-right: 45px;
  display: block;
}

.image {
  width: 100%;
  height: 220px;
  background: #C4C4C4;
  border-radius: 5px;
  margin-bottom: 10px;
}

.flex {
  padding: 0 4px;
  display: flex;
  justify-content: space-between;
  margin: 5px 0 0;
  font-size: 18px;
}

.reviews {
  display: inline-block;
  margin-left: 23px;
}

.address {
  @extend .flex;

  color: #818181;
  font-size: 14px;
}

.category {
  color: #818181;
  font-style: italic;
}

.first_line {
  @extend .flex;

  font-size: 14px;

  b {
    font-weight: 600;
  }
}
