.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 100px 0px 0;
}

.wrapper_right {
  @extend .wrapper;

  flex-direction: row-reverse;
}

.image {
  background: #C4C4C4;
  width: 600px;
  height: 355px;
}

.text_wrapper {
  max-width: 500px;
}

.title {
  font-weight: 300;
  font-size: 28px;
  margin-bottom: 20px;
}

.subtitle {
  font-size: 18px;
  line-height: 21px;
  color: #818181;
  margin-bottom: 30px;
}

.button {
  background: #C4C4C4;
  border-radius: 5px;
  height: 48px;
  width: 200px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &:hover {
    background: rgba(196, 196, 196, 0.08);
    border: 1px solid #C4C4C4;
    color: #C4C4C4;
  }
}
