.wrapper {
  min-height: 100vh;
  padding-top: 50px;
}

.title {
  margin-bottom: 64px;
  text-align: center;
  font-size: 32px;
}

.content_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.image {
  display: block;
  margin-right: 120px;
}
