.info_block {
  background: #F3F3F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  width: 430px;
  padding: 20px 24px 35px;
}

.title {
  font-weight: 500;
  font-size: 24px;
}

.hr {
  height: 1px;
  background: rgba(129, 129, 129, 0.5);
  margin: 16px 0;
}

.rate {
  font-weight: 500;
  font-size: 20px;
}

.reviews {
  margin-left: 30px;
  font-size: 18px;
}

.subtitle {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 5px;
}

.working {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  margin-bottom: 5px;
}
